*{
    padding: 0;
    margin: 0;
}
body {
    background-color: F9E0D9;
    box-sizing: content-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 0, 74);
}

li {
    float: left;
}

li a, .BotonAsesorias, .BotonProyectos{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(128, 0, 74);
    border-radius: 10%;
}
/* */
li a:hover, .MenuAsesorias:hover .BotonAsesorias, .MenuProyectos:hover .BotonProyectos
{
    background-color:rgb(51, 0, 29);
}
li .MenuAsesorias{
    display: inline-block;
}
.ContenidoAsesorias, .ContenidoProyectos{
    display: none;
  position: absolute;
  background-color: rgb(128, 0, 74);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.ContenidoAsesorias a, .ContenidoProyectos a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ContenidoAsesorias a:hover, .ContenidoProyectos a:hover{
    background-color: rgb(51, 0, 29);
}
.MenuAsesorias:hover .ContenidoAsesorias, .MenuProyectos:hover .ContenidoProyectos{
    display: block;
}
li a:hover, .ContenidoAsesorias:hover .BotonAsesorias, .ContenidoProyectos:hober .BotonProyectos{
    background-color: rgb(51, 0, 29);
}

.BarraBusqueda input[type=text]{
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
        border-radius: 3%;
}

.Registrarme, .IniciarSesion{
 float: right;
}
