nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 0, 74);
}

nav li {
    float: left;
    padding: 0 5px;
}

nav li a,
.BotonAsesorias,
.BotonProyectos,
.BotonSesion {
    display: inline-block;
    color: #F9EAE1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #80004a;
}

nav li a:hover,
.MenuAsesorias:hover .BotonAsesorias,
.MenuProyectos:hover .BotonProyectos .MenuSesion:hover .BotonSesion {
    background-color: #570033;
}

nav li .MenuAsesorias,
nav li .MenuProyectos,
nav li .MenuSesion {
    display: inline-block;
}
.ContenidoAsesorias,
.ContenidoProyectos,
.ContenidoSesion {
    display: none;
    position: absolute;
    background-color: #80004a;
    min-width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.ContenidoAsesorias a,
.ContenidoProyectos a,
.ContenidoSesion a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ContenidoAsesorias a:hover,
.ContenidoProyectos a:hover,
.ContenidoSesion a:hover {
    background-color: #570033;
}

.MenuAsesorias:hover .ContenidoAsesorias,
.MenuProyectos:hover .ContenidoProyectos, .MenuSesion:hover .ContenidoSesion {
    display: block;
}
.ContenidoSesion{
    right: 2px;
}
.Derecha{
    float: right;
}

nav li a:hover,
.ContenidoAsesorias:hover .BotonAsesorias,
.ContenidoProyectos:hover .BotonProyectos,
.ContenidoSesion:hover .BotonSesion {
    background-color: #570033;
}
.BarraBusqueda{
position: relative;
left: 20.2%;
}
.Entrada{
    width: 75%;
    height: 40px;	padding:10px;

	margin: 5px 0;
	background-color: #F9EAE1;
	color: #80004a; 
	border: 3px solid #F9EAE1;
	border-radius: 10px;;
}
.BotonBusqueda{
    border: 3px solid #F9EAE1;

    color:#F9EAE1;
    background-color: #80004a;
    border-radius: 10px;
    width: 20%;
    height: 40px;
}