
.form-box
{
    width:29%;
	min-width: 380px;
	min-height: 380px;
	position:relative;
	margin:5% auto;
	background:#F2FDfF;
	padding:10px;
    overflow: hidden;
  	border-radius: 50px;
  	transition: 0.5s;
}
.button-box
{
	min-width:220px;
	min-height: 35px;
	height: 45px;
	width:60%;
	margin:5% auto;
	position:relative;
  background-color: #F9EAE1;
	border-radius: 15px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	width: 49%;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	min-width: 100px;
	width: 50%;
	height: 100%;
	background: #80004a;
	border-radius: 15px;
	transition: .5s;
}
.input-group-login
{
	top: 90px;
	position:absolute;
	width:80%;
	min-width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 90px;
	position:absolute;
	width:80%;
	min-width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px;
	margin:5px 0;
	outline:2px solid transparent;
	background-color: #F9EAE1;
	color: white; 
	border: 3px solid #F9EAE1;
	border-radius: 10px;
	outline-offset: 2px;
	transition: 0.5s;
}
.input-field::placeholder{
	color: #80004a;
}
.submit-btn
{
	width: 95%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #80004a;
	border: 0;
	outline: none;
	border-radius: 15px;
}
.check-box
{
  background-color: #F2FDfF;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-right: 5%;
  min-height: 25px;
  min-width: 25px;
  height:1%;
  width:1%;
  appearance: none;
  border: 2px solid #80004a;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.check-box:checked
{
	background-color: #80004a;
}
span
{
	color:#000;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left: 46px;
	margin:0;
	padding: 0 7%;
}
#login input
{
	color:#80004a;
	font-size:15px;
}
#register
{
	left:600px;
	margin:0;
	padding: 0 7%;
}
#register input
{
	color:#80004a;
	font-size: 15px;
}
button{
  color: white;
}
.TextoExtra{
	color: #80004a;
	font-size: 15px;
}