.ContenedorMaterias {
    margin-top: 2em;
    padding: 1em;
    display: flex;
}
body{
    overflow: hidden;
}
.MateriaA,
.MateriaMD,
.MateriaCD,
.MateriaCI,
.MateriaPE {
    border-radius: 20px;
    margin-left: 18px;
    height: 300px;
    width: 200px;
    flex: 1;
    transition: 0.3s all ease;
    text-align: center;
    overflow: none;
}

.MateriaA img,
.MateriaMD img,
.MateriaCD img,
.MateriaCI img,
.MateriaPE img {
    border-radius: 20px;
    width:100%;
    height: 300px;
    object-fit: cover;
    flex: 1;
    transition: 0.5s all ease;
    overflow: none;
}

.MateriaA:hover {
    flex: 1.8;
    height: 300px;
    outline:5px solid darkkhaki;
    outline-offset: 0px;
    color: white;
}

.MateriaMD:hover {
    flex: 1.8;
    height: 300px;
    outline: 5px solid black;
    outline-offset: 0px;
    color: white;
}
.MateriaCI:hover {
    flex: 1.8;
    height: 300px;
    outline:5px solid orange;
    color: white;
}

.MateriaCD:hover {
    flex: 1.8;
    height: 300px;
    outline-offset: 0px;
    outline:5px solid darkred;
    color: white;
}

.MateriaPE:hover {
    flex: 1.8;
    height: 300px;
    outline-offset: 0px;
   outline: 5px solid darkblue;
    color: white;
}

.MateriaMD:hover .TextoTarjetas,
.MateriaA:hover .TextoTarjetas,
.MateriaCI:hover .TextoTarjetas,
.MateriaCD:hover .TextoTarjetas,
.MateriaPE:hover .TextoTarjetas {
    height: 200px;
    top: -206px;
}

.MateriaMD:hover .TextoTarjetas p,
.MateriaA:hover .TextoTarjetas p,
.MateriaCI:hover .TextoTarjetas p,
.MateriaCD:hover .TextoTarjetas p,
.MateriaPE:hover .TextoTarjetas p {
    visibility: visible;
    width: 100%;
}



.TextoTarjetas a {
    color: white;
    text-decoration: none;
}

.TextoTarjetas {
    color: white;
    position: relative;
    width: 100%;
    height: 22px;
    top: -20px;
    background-color: rgba(0, 0, 0, .75);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
}

.TextoTarjetas p {
    visibility: hidden;
    font-size: 14px;
}
.Titulo{
    background-color: #F9EAE1;  
    color: #80004a; 
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
    height: 50px;
    width: 20%;
    border-radius: 15px;
}