.Titulo {
  font-size: 5vw;
  width: 15ch;
  color: #80004a;
  font-family: "PoppinsBold";
  transition: 0.5s;
}
.Texto {
  font-size: 3vw;
  width: 30ch;
  color: #80004a;
  transition: 0.5s;
}
.ContenidoFondo {
  padding: 5px auto;
}
.Imagen {
  width: 40vw;
  height: 25vw;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(89%2c 1%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c629.422C146.456%2c642.23%2c298.027%2c733.751%2c430.25%2c669.482C563.374%2c604.775%2c611.23%2c441.748%2c667.646%2c304.904C722.255%2c172.441%2c779.165%2c32.49%2c750.752%2c-107.942C722.926%2c-245.473%2c603.444%2c-337.348%2c515.567%2c-446.741C423.867%2c-560.894%2c367.692%2c-734.449%2c224.171%2c-763.457C79.374%2c-792.723%2c-43.552%2c-658.706%2c-171.979%2c-585.706C-271.952%2c-528.88%2c-356.025%2c-459.015%2c-443.253%2c-384.081C-546.742%2c-295.177%2c-682.726%2c-232.623%2c-731.366%2c-105.155C-783.729%2c32.068%2c-779.256%2c194.481%2c-714.291%2c326.206C-649.952%2c456.661%2c-518.356%2c541.397%2c-384.462%2c598.235C-263.662%2c649.514%2c-130.734%2c617.989%2c0%2c629.422' fill='%23400125'%3e%3c/path%3e%3cpath d='M1920 1815.0700000000002C2049.724 1776.142 2142.155 1672.549 2266.882 1619.759 2427.766 1551.666 2650.101 1600.923 2755.374 1461.503 2858.559 1324.848 2794.841 1127.162 2766.325 958.317 2738.408 793.019 2698.4210000000003 627.212 2592.524 497.255 2484.817 365.077 2334.387 273.90999999999997 2170.447 227.05399999999997 2007.247 180.409 1827.585 167.10900000000004 1671.605 234.04399999999998 1522.4479999999999 298.052 1433.723 445.76599999999996 1344.627 581.437 1265.4470000000001 702.008 1223.73 835.318 1185.4189999999999 974.383 1141.6190000000001 1133.372 1065.356 1292.184 1104.705 1452.333 1147.083 1624.813 1245.086 1805.4859999999999 1407.3600000000001 1877.684 1567.897 1949.109 1751.705 1865.5720000000001 1920 1815.0700000000002' fill='%23720143'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  border-radius: 100px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.664);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
}
.Imagen2 {
  height: 20vw;
  object-fit: cover;
  border-radius: 100px;
  transition: 0.5s;
}
.BotonCurso2 {
  height: max(4.5vw, 70px);
  width: 30%;
  background-color: #f9eae1;
  border: 5px solid #80004a;
  color: #80004a;
  border-radius: 15px;
  font-size: max(1.3vw, 20px);
  font-family: "PoppinsBold";
  cursor: pointer;
  transition: 0.5s;
}
.BotonAyuda {
  height: max(4.5vw, 70px);
  width: 65%;
  background-color: #80004a;
  color: #f9eae1;
  border-radius: 15px;
  font-size: max(1.3vw, 20px);
  font-family: "PoppinsBold";
  cursor: pointer;
  transition: 0.5s;
}
.Botones {
  margin-top: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  width: 90vw;
  transition: 0.5s;
  justify-content: space-around;
}
.ComoAyudar {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ContenidoAyuda {
  margin: auto;
  display: block;
  width: 60vw;
  height: 50%;
  animation-name: zoom;
  animation-duration: 0.6s;
  color: #80004a;
  background-color: #f9eae1;
  padding: 0 5%;
  border: 10px solid #80004a;
  border-radius: 30px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.664);
}
.ContenidoAyuda h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40px;
  font-family: "PoppinsBold";
}
.Cerrar {
  position: absolute;
  text-shadow: 1px 0 15px black;
  top: 9%;
  right: 18%;
  color: #80004a;
  font-size: 40px;
  font-weight: bold;
  animation-duration: 0.6s;
  animation-name: zoom;
}

.Cerrar:hover,
.Cerrar:focus {
  color: #5a0035;
  text-decoration: none;
  cursor: pointer;
}

.EntradaAyuda {
  width: 75%;
  height: 40px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9eae1;
  color: #80004a;
  border: 3px solid #80004a;
  border-radius: 10px;
}

.PrimeraFila {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body {
  overflow-x: hidden;
}
.Titulo2 {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vw;
}

@media (max-width: 700px) {
  .Botones {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .BotonCurso2 {
    height: 70px;
    width: 80%;
    font-size: 20px;
  }
  .BotonAyuda {
    height: 70px;
    width: 80%;
    background-color: #80004a;
    color: #f9eae1;
    border-radius: 15px;
    font-size: 20px;
    font-family: "PoppinsBold";
    cursor: pointer;
  }
  .Imagen {
    display: none;
  }
  .Titulo2 {
    width: 100vw;
    padding: 0 15px;
  }
  .Titulo {
    font-size: 10.6vw;
    overflow-x: none;
  }
  .Texto {
    font-size: 6vw;
  }
  .PrimeraFila {
    height: 450px;
  }
  .ContenidoAyuda {
    position: absolute;
    top: 200px;
    left: 5%;
    width: 90%;
  }
  .Cerrar {
    top: 180px;
    right: 2%;
  }
  .ContenidoAyuda h2 {
    font-size: 40px;
  }
  .ContenidoAyuda p {
    font-size: 20px;
  }
}
