<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../../styles/style.css">
    <title>API CRUD</title>
</head>
<body>
      <header>
      <nav class="BarraNavegacion">
        <ul>
          <li>
            <a href="../"
              ><img
                src="../../styles/ipn_logo_crema.png"
                alt="Logo IPN"
                title="Logo IPN"
                class="LogoIPN"
              />
            </a>
          </li>
          <li class="MenuAsesorias">
            <a href="#" class="BotonAsesorias">Cursos</a>
            <div class="ContenidoAsesorias">
              <a href="#">Área matemática</a>
              <a href="#">Área electrónica</a>
              <a href="#">Área social</a>
            </div>
          </li>
          <li class="MenuProyectos">
            <a href="#" class="BotonProyectos">Proyectos</a>
            <div class="ContenidoProyectos">
              <a href="#">Proyectos en curso</a>
              <a href="#">Proyectos terminados</a>
              <a href="#">¡Quiero ayudar!</a>
            </div>
          </li>
          <li class="MenuEjercicios">
            <a href=".." class="BotonEjercicios"
              >Ejercicios</a
            >
            <div class="ContenidoEjercicios"></div>
          </li>
          <li class="MenuEjercicios">
            <a href=".." class="BotonEjercicios">Tienda</a>
            <div class="ContenidoEjercicios"></div>
          </li>
          <li class="BarraBusqueda">
            <form action="#" method="get">
              <input
                type="text"
                placeholder="Buscar curso"
                class="Entrada"
                name="CursoBuscado"
              />
              <input type="submit" class="BotonBusqueda" value="Buscar" />
            </form>
          </li>
          <li class="MenuEscondido">
            <a href="#" class="MenuEscondido">≡</a>
            <div class="ContenidoEscondido">
              <a href="#">Cursos</a>
              <a href="#">Proyectos</a>
              <a href="../ejercicios-algebra.html">Ejercicios</a>
              <a href="../tienda.html">Tienda</a>
              <a href="../cuenta.html" id="Escondido">Iniciar sesión</a>
            </div>
          </li>
          <li class="MenuSesion">
            <a href="#" class="BotonSesion">Cuenta</a>
            <div class="ContenidoSesion">
              <a href="../cuenta.html">Inicio</a>
              <a href="../cuenta.html">Registro</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
</body>

</html>